p {
    box-sizing: border-box;
    width: 75%;
}
section:hover{
    border-style: solid;
    border-color: blue;
}
h1{
    color: blue;
}
h3{
    font-size:xx-small:
    font-style: normal;
}
.curved-btn{
    border-radius: 25px;
}