html {
    font-size: 10px;
}

.profile-img {
    width: 30rem;
    height: 30rem;
}

.card-details-img {
    width: 4.8rem;
    height: 4.8rem;
}

.card-header-img {
    width: 100%;
}

.section-3 {
    margin-left: 45rem;
    margin-right: 45rem;
}

.section-3 input {
    border-radius: 4rem;
}

button {
    position: relative;
}

button::after {
    content: '';
    width: 3rem;
    height: 0.3rem;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 80%;
}

button::before {
    content: '';
    width: 1rem;
    height: 0.3rem;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: rotate(45deg);
}

footer {
    background-color: dimgrey;
    padding: 2rem;
}

ul {
    list-style-type: none;
}

li {
    color: #fff;
}
